<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461958139520-0sv8svjpipb536fcd6rq4rgvtgm9im10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461958139520-0sv8svjpipb536fcd6rq4rgvtgm9im10</string>
	<key>API_KEY</key>
	<string>AIzaSyB3hpzV3iZuTXz5Sc9O0EfmI3L0BgUjNl8</string>
	<key>GCM_SENDER_ID</key>
	<string>461958139520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memVl</string>
	<key>PROJECT_ID</key>
	<string>memevl</string>
	<key>STORAGE_BUCKET</key>
	<string>memevl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461958139520:ios:61680a50c98081f9d1a065</string>
</dict>
</plist>